* {
  margin: 0;
  padding: 0;
}

body {
	width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

h1 {
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 2.5em;
}
.container{
  top: 0;
  position: relative;
  width: 85%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
.container button{
  position: relative;
  margin-top: 10px;
}

#winGIF, #lossGIF{
  display: none;
}

#intro{
  top: 33%;
  position: relative;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none!important;
}

.content{
  height: inherit;
  position: relative;
  top: 11%;
}

#displayText{
  position: absolute;
  top: -5%;
  font-style: italic;
}

.board{
  position: relative;
  bottom: -12%;
  width: 50%;
  margin: 0 auto;
  height: 125px;
}

#cpuPlay img{
  width: 85%;
  top: 10%;
  position: relative;
  z-index: -1;
  opacity: 0.75
}

.card{
  display: inline-block;
  transition: all .2s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.card img{
  width: 60%;
}

#cpuPlay{
  height: 120px;
  width: 120px;
  margin: 0 auto;
  position: relative;
  top: 15%;
  border-radius: 75px;
  background: yellow;
  opacity: 0.7;
}

.row{
  margin-top: 50px;
}

.row:after{
  content: "";
  display: table;
  clear: both;
}

.column{
  float: left;
  width: 50%;
  height: 150px;
}

.score{
  font-size: 2.5em;
}

#result{
  font-size: 2em;
  font-style: italic;
  font-weight: 400;
}

.plName{
  font-style: italic;
}

.black{
  color: black;
}
